body {
  background: #4f3e57;
}

/*
 * List
 */
#todo {
  width: 500px;
  margin: 0 auto;
}

#todo-counter {
  margin-top: 2em;
  font-size: 1.3em;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: .5em 0;
}

/*
 * Items
 */
.favorite {
  float: right;
}

